################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.cr/personal/FavoritesList
/.vs/FactoryMethod
/FactoryMethod/obj
/FactoryMethod/bin/Debug/net6.0
/.vs/FactoryMethod
/FactoryMethod/bin/Debug/net7.0
